@media screen and (max-width: 480px) {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px;
    outline: 0px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
  }
  .maindiv {
    background-color: black;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  nav {
    height: 70px;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    z-index: 15;
    button {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      border: none;
      background-color: #303030;
    }
 
    .pen {
      height: 20px;
      width: 25px;
      background-color: transparent;
      color: white;
    }
    .i{
      display: flex;
      background-color: #000000;
      align-items: center;
      .menu {
        height: 25px;
        width: 25px;
        background-color: transparent;
        color: white;
        
      }
      h1 {
        background-color: black;
        color: white;
        font-size: 30px;
        margin-left: 20px;
      
    }
    }
  }
  .names{
    display: flex;
    height: 5px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-size: 12px;
    p{
      background-color: black;
      margin-left: 15px;
    }
    .m{
      background-color: black;
      margin-left: 30px;
    }
    .n{
      background-color: black;
      margin-right: 10px;
    }
  }

  .input {
    height: 60px;
    width: 100%;
    align-items: center;
    background-color: black;
    position: relative;
    margin-top: 70px;
    input {
      height: 75%;
      width: 90%;
      margin-left: 4%;
      margin-top: 2px;
      border: none;
      border-radius: 30px;
      background-color: #303030;
      padding-left: 60px;
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
    .search {
      height: 25px;
      background-color: transparent;
      color: grey;
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      margin-left: 30px;
      margin-bottom: 20px;
    }
  }
  .online {
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    .face {
      height: 60px;
      width: 60px;
      border-radius: 100%;
      position: relative;
      top: 0;
      img {
        height: 100%;
        width: 100%;
        border-radius: 100%;
        object-fit: cover;
        border: none;
      }
    }
    .face::after {
      content: "";
      height: 13px;
      width: 13px;
      border-radius: 100%;
      background-color: #43d659;
      position: absolute;
      z-index: 12;
      bottom: 0;
      right: 0;
      border: 3px solid black;
    }
  }
  .inbox {
    height: calc( 100vh - 50px);
    top: 0;
    width: 100vw;
    margin-top: 20px;
    background-color: #000000;
  }
  .massege {
    height: 70px;
    width: 100%;
 
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: #000000;

    .imgf {
      height: 55px;
      width: 55px;
      border-radius: 100%;
      position: relative;
      margin-left: 10px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 100%;
        object-fit: cover;
        border: none;
       
      }
    }
    .imgf::after {
      content: "";
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background-color: #43d659;
      position: absolute;
      z-index: 12;
      bottom: 0;
      right: 0;
      border: 2px solid black;
    }
    .imge {
      height: 55px;
      width: 55px;
      border-radius: 100%;
      position: relative;
      border: 5px solid black;
      outline: 3px solid #4d4e50;
      margin-left: 10px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 100%;
        object-fit: cover;
        border: none;
       
      }
    }
  }
  .bold {
    padding-left: 25px;
    font-size: 15px;

    color: #ffffff;
    background-color: black;
    border: none;
   outline: none;
  }
  .h {
    font-size: 12px;
    color: #6f6f6f;
    background-color: black;
  }
  footer{
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    position: fixed;
    z-index: 12;
    padding-left: 40px;
    padding-right: 40px;
  
    .stories{
   
      background-color: #000000;
      img{
        height: 100%;
        width: 30px;
      background-color: black;
 filter: grayscale(100%);
      
      }
      p{
        font-size: 10px;
        color: white;
        background-color: black;
      }
    }
    
    .chats{
      width: 33.3%;
      font-size: 25px;
      background-color: black;
      color: grey;
      p{
        font-size: 10px;
        color: white;
        background-color: black;
      }
    }
    .people{
      width: 33.3%;
     font-size: 25px;
      background: transparent;
      color: grey;
      p{
        font-size: 10px;
        color: white;
        background-color: black;
      }
    }
  }
 
}
